/*header nav .navbar-brand{*/
/*    margin-left: 4em;*/
/*}*/
.content{
    width: 100%;
}

.user-info{
    margin: 10px;
}

.alert{
    margin: 10px;
}

#pills-tab{
    margin: 10px;
}

#notify{
    transition: 4s;
}

.search-field{
    margin: 10px;
}

.btn-outline-primary{
    margin-left: 10px;
}

section .container{
    border-left: solid 1px #999cff;
    border-right: solid 1px #999cff;
}
body footer{
    border-top: solid 1px #999cff;
}
.my-custom-scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}